<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>

</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">
<nav>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% block content %}{% endblock %}
</section>
