<!doctype html>
<head>
<title>{% block title %}{% endblock %}</title>

<meta http-equiv="refresh" content="60" >

</head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">
<nav>
  <ul>
    {% if g.user %}
    {% else %}
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
