{% if owner %}
{% extends 'base.html' %}
{% else %}
{% extends 'baselot.html' %}
{% endif %}

{% block header %}
  {% block title %}{% endblock %}
    {% if request_locked %}
        <h1>Too many requests</h1>
    {% else %}
	<h1><img src={{ url_for('static', filename='xmrstarter-logo.png') }} width=412px height=91px class="ico"></h1>

        <div class="status-header">
            <div class="flex-row fit">
            <div class="white fit-height">
                <table>
                    <thead>
						<tr>
							<th>Title       </th>
							<th>Raised    </th>
							<th>Target</th>
						</tr>
					</thead>
			     	{% for campaign in campaigns %}
                        <thead>
                        <tr>
                            <td><a href="../campaign/{{campaign.page_id}}">{{campaign.title}}</a></td>
                            <td>{{'%0.4f' | format(campaign.total*0.000000000001 | float)}}</td>
                            <td>{{campaign.target}}</td>
                        </tr>
                        </thead>
                    {% endfor %}
				</table>
            </div>
            </div>
        </div>
    {% endif %}
{% endblock %}



