{% extends 'baselot.html' %}

{% block header %}
    {% block title %}{% endblock %}
        {% if request_locked %}
        <h1>Too many requests</h1>

        {% else %}
            <h1><img src={{ url_for('static', filename='xmrstarter-logo.png') }} width=412px height=91px class="ico"></h1>
            <div class="fr-container">
            {% if order_record %}
                {% if order_record['status'] == 'unpaid' %}
                    {% if order_record['expired'] %}
                        <div class="flex-row fit">
                        <div class="white fit-height">
                        <h3> Your Order ID: {{ order_record['order_id'] }}  </h3>
                        <h3 class="padd green"> Your order has expired. If you have sent Monero to this address contact support with your order ID. </h3>
                        </div>
                        </div>
                    {% else %}

                      <h3> Your Order ID: {{ order_record['order_id'] }}  </h3>
                      <p>Choose one of the following:</p>

                      <h3>Send <b>{{xmr_deposit_amount}}</b> XMR to the following address </h3>
                      <div class = "code mb-3">{{xmr_deposit_address}}</div>

                      <h3> Copy the line below into your Monero CLI wallet </h3>

                      <div class = "code mb-3">
                        transfer {{xmr_deposit_address}} {{xmr_deposit_amount}}
                      </div>

                      <h3> Scan this QR Code with your mobile wallet </h3>

                      <div class="padd">
                        <a href="{{'monero:%s?tx_amount=%.8f'%(xmr_deposit_address,xmr_deposit_amount)}}">
                            <img src="{{ qrcode('monero:%s?tx_amount=%.8f, box_size=4, border=1)'%(xmr_deposit_address,xmr_deposit_amount))}}">
                        </a>
                      </div>

                      <p> This page will refresh automatically. Expires in {{expires_in}} minutes. </p>
                    {% endif %}
                {% elif order_record['status'] == 'xmr_received' %}
                    {% if order_record['error'] == 'xmr_amount_different' %}
                        <div class="flex-row fit">
                            <div class=" fit-height">
                                <h3> Your Order ID: {{ order_record['order_id'] }}  </h3>
                                <h3 class="padd ">  Monero payment received! </h3>
                                <p class= white> We have received your payment. The amount you sent is different from the one requested. Please contact support with your order ID. </p>

                                <div class = "code mb-3 padd">
                                  Sent: {{0.000000000001 * order_record['xmr_received_amount']}}
                                  Requested: {{xmr_deposit_amount}}
                                  Monero Transaction ID: {{order_record['xmr_tx_id']}}
                                  Confirmed at height:  {{order_record['block_height']}}
                                </div>
                   {% else %}
                   {% endif %}
                {% elif order_record['status'] == 'xmr_paid' %}
                  <div class="flex-row fit">
                    <div class=" fit-height">
                  <h3> Your Order ID: {{ order_record['order_id'] }} </h3>
                  <h3 class="padd ">  Monero payment received! </h3>
                  <p class= white> We have received your payment. We are fulfilling your order, please wait. </p>

                  <div class = "code mb-3 padd">
                      Monero Transaction ID: {{order_record['xmr_tx_id']}}
                  </div>
                  <div class = "code mb-3 padd">
                      Confirmed at height:  {{order_record['block_height']}}
                 </div>
                 </div>
                 </div>

                {% elif order_record['status'] == 'completed' %}
                  <div class="flex-row fit">
                    <div class=" fit-height">

                  <h3 class="padd "> The Bitcoin payment has been sent! </h3>
                  <p class= white> We have sent your BTC. Thank you for your order :) </p>


                  <div class = "code mb-3 padd">
                      Monero Transaction ID: {{order_record['xmr_tx_id']}}
                  </div>
                  <div class = "code mb-3 padd">
                      Confirmed at height:  {{order_record['block_height']}}
                 </div>
                        <hr>
                  <div class = "code mb-3 padd">
                      Bitcoin Transaction ID: {{order_record['btc_tx_id']}}
                      Confirmations: {{order_record['btc_conf']}}/1
                  </div>

                 </div>
                 </div>
                {% elif status == 'error_btc_not_sent' %}
                <div class="flex-row fit">
                    <div class="white fit-height">
                        <h3 class="padd green"> Error: unknown order STATUS </h3>
                    </div>
                </div>

                {% else %}
                {% endif %}
            {% else %}
                <div class="flex-row fit">
                    <div class="white fit-height">
                        <h3 class="padd green">  Order not found! </h3>
                    </div>
                </div>
            {% endif %}
    </div>
    {% endif %}
{% endblock %}
