{% extends 'baselot.html' %}
{% block content %}
<h1><img src={{ url_for('static', filename='xmrstarter-logo.png') }} width=412px height=91px class="ico"></h1>
    <h3> A crowdfunding platform for Monero</h3>
	      <p> XMRStarter can help you create a funding campaign for your project. </p>

        <img src={{ url_for('static', filename='info.png') }} width=100px height=100px class="ico" >
        <img src={{ url_for('static', filename='umbrella.png') }} width=100px height=100px class="ico" >
        <img src={{ url_for('static', filename='mesh-network.png') }} width=100px height=100px class="ico" >
        <img src={{ url_for('static', filename='sunglasses.png') }} width=100px height=100px class="ico" >
        <img src={{ url_for('static', filename='honeycomb.png') }} width=100px height=100px class="ico" >
        <img src={{ url_for('static', filename='processor.png') }} width=100px height=100px class="ico" >

    <h3> User-friendly </h3>
        <p> Create your campaign with a few simple steps. </p>

    <h3> No-KYC </h3>
        <p> Accounts are generated automatically upon payment.</br>
            No need to provide any information at all!</p>

    <h3> No JavaScript </h3>
        <p> We know that browsing with javascript enabled is dangerous.</br>
            Our service is provided free of javascript so you don't have to worry about it</p>

    <h3> How it works </h3>

    <p>
    1. create your campaign <br>
    2. add your Monero address and view key</br>
    3. add your project's description</br>
    4. get funded!
    </p>

    <h3> Support </h3>
    <p>
	Do you have any questions? Want to report a listing?<br>
	Contact via the following <a href="./support">channels</a> <br>
	</p>

    <a  href="./xmr/order/">Start your order now!</a></br></br>
    <a  href="./auth_simple/login">Already have an account</a></br></br>
    <a  href="./xmr/campaigns/">View active campaigns</a><p><br></p>
<footer>
<p>______________________________________________________________________</p>
<p>Hosted at <a href="https://urdn.com.ua">UDN</a> | Source code <a href="https://gitlab.com/zombie_master/xmrstarter">here</a></p>
</footer>

{% endblock %}
