{% extends 'baselot.html' %}
{% block content %}
<h1><img src={{ url_for('static', filename='xmrstarter-logo.png') }} width=412px height=91px class="ico"></h1>
    <h3> Contact details</h3>
        <address>
            Matrix: @zombie_master:halogen.city<br>
            XMPP: zombie_master@danwin1210.de<br>
            Box 1337, Cryptoland<br><br>
            PGP Fingerprint 7D9EEB1B320AD55B95ED2743D4FC24F38E4CCBA3<br><br>
<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBGHhL6wBEAC34dU7Zzhveq4NirJ0FoVrm2ZuAHZp9HyrEdgDiGUGCyN0wNCd
a2vD+bEC6KZK8jQiLKcItVO8yS6zYsVC9KFLW0Jhy/Fgnd1m84Cm1ACuLq5uU4ll
E0UYFIanQc+s7eqfWrs4xPEiyAO5UTDm6wpwlWIjryrqDcMCr76pWSsWgPbLyTMe
q8kXx6iYRP23CxRqA8nRGXRIrbRJ7CFPH8tFbchiIsXS2ObDaE6jkR5us1TeVee1
hJRqZVqD54GQ7bnB+y1euenoCGNkVbdj7VgCUw2dAY3JZXdR/1F2z1IWdVzjD+Zi
vQhItPHM0oQExWw5ITeUOBpJ628dXw5DKJwyjY3ZVYGN0cZaWbmidj6UhVuxPhJV
9PlVw3QdcuSi1eJB3CbtzlBnc125T/F1tyL2iPgxWjXsC/qEU/v49liOHPIYMGDi
nD8F6Xjcrcb42qtML+F2InISCsP0QAFCuaJqxEJAQKpUljxaJA5obZkwsXIQbl3u
civ4BosLnlOL2T4McXL+DTVFttmpvdC2g6kEE+FbBDT0uzfJ8lzU9/ODVefKX1xt
5sCEE8I4httpDo2Oi+a8RMa2lpdjd5NzHadZC19OYgmLzb3zn3t9BPgXU8YjKI/2
aruivHGAtwzwy0JyWkz+gDmZIQ7JCLAJ9ibEjrYRQdtgQ1DjEVLt4vS0mQARAQAB
tA1ab21iaWUgTWFzdGVyiQJUBBMBCgA+FiEEfZ7rGzIK1VuV7SdD1Pwk845My6MF
AmHhL6wCGwMFCQPCZwAFCwkIBwIGFQoJCAsCBBYCAwECHgECF4AACgkQ1Pwk845M
y6PnwBAAmHKmywQ+KDUS0BTa343gLgt64rrJQVCoctgmu9Wry9Zjvi/PodryhoyR
+btNxw5IHKoA8WbE+kD/kpqfycYc6/eur221rs0Fd8SvSyNty95V2VbystH0s1Tf
0xmShvUQST7SqgAmWURnBhabIHjONExv/wBp8dLIhfzu8VoA/td3G6bZzVuApmtk
oFYV/BahcvHKDKLzZLWozVE5RcXXUQMsdgHHd+uxeKPxqRMMxm9VRTjbZKs+vPn5
yOQ00yxKB5C7OevWTVjY3z72LbRjmbf5DVjFCWxM4IUtbNcrrpd7dZuAXDupdQHa
ecNjBjZqyej5MxzUGWMMd6afeAog6nKkWn1OkqVeH17w0TZTidUvQ//60g2f7H+y
HnyofGBVSVhiCkYYokAGYU8cycPeBDqDc8TVPFesfK64SIYhFH1etiKXNHm5/ocY
q8bh8jVVqBDnyZg4QBUn3jgY96dErpnBqZFK7WnXRz+vIPpdhxF9r6is54s5Cc+/
3QhPZ6XfFK81Ek6Wikp8P9L95LzRKdPtid+fTQGJfr4XkX1nms71o8RKGTMRODK3
vTWKptKEq0NiRghjXGaMGIALpwgFjts34UdcbVlZyCU9nFTB5i55RFnAdHX3eTkF
bGIjtQusmMbwYf+vkIPFDyG5m4xu4e0Sboy4subXhCKkVKqdd6i5Ag0EYeEvrAEQ
AOdegsOCj/xQGTPQNaVOu98hVlV5TF/yVnXHvjFDsYtzzb/rWXIw1kOVLsT+3Y3P
6WsEQNRHQcJrExfbRznj4adYg1JE15u85oP1zJrShvhXPo9wsrCrPNRUtIDZlosM
qpzAQC7visRDeLmfsesmfRCRsTSoznafjQ0Jw20MMPxaO30alB5wOD5gEiYP47Wx
Db0XBjsHT2cgG2QycGHsNENYOy3AWKqz8brHLXH7QtcqgUtPqrBZA0vF9xWMgNJk
0pZCJpWoNWOz3d+O4SPWtvGFLzrgypvY4v/jUTfqxnnCjbl9nrqmZqWH/0nLvjnV
P83Rfm5VnVuLofVU/Goghxsb2/5lSX2GrWmup0a5M0izB7i0zIeBWrjRiNp5lMSZ
CCm2Do8tz94HRvi3jM23xh2e5iOdxV8FD4w8eZlgOFnQuHzIeOfrvnNqp/foHbug
QjOzHzDizQM/gTZsW79cf5/+zC2CB7Nf7URgoSc1MlCgsigy0lZU3T9qtrwe5cAt
7vgaOVgeN9/MWgBn+PBHahlYT3d4piE3QlbSYRA/gYs2sM4OBUMZfyrxvH0zJGQo
X+fDdv23hK35jZkX4d3Jg9ntSsNt4V/qvsr7eIMjohUyKw6mrE5BEYvdIdR1oXrV
csqsVj4O4wG7+7MPLNLz91q9n4ZvXTCa/m1PpdnvLzrRABEBAAGJAjwEGAEKACYW
IQR9nusbMgrVW5XtJ0PU/CTzjkzLowUCYeEvrAIbDAUJA8JnAAAKCRDU/CTzjkzL
oyMsD/0QPxdmtm+4Lw6+utXmJrL/jETOU9PPEIbzxUXy8OQR5sQbwdC6z8wkIC7F
yB4LLzC1yH7oPQfBVeKkH6Aad+1gDzSTg6VDg0+/n4ciqIR0jTYqTkGyvGHxNhT7
f5DM6d5iXpMykeG2my4z1XQ8bkw3q28fLux1w+j1XLCiJ0AyjfiT9gUebhYX2bq5
1v53g4/4wSeaqirXnj8O6cMcHz3jU3+pPoZeJGNVir3N5NswkaaeXoSX7aVbyvFd
iMFbWapuxDFLj9c48h5r+o1gQr08+R/s7D2U8UgZUKJ7moBseWuX/hIxMV8/wfPQ
HZil+jtQNxZdVJ+Zx/iZuciAt23XLEwt9bcNfs9F7Z2nQEAexll+WP6vkzK1ilAJ
LF2Ai94T5VTsgXQ2TQmyBnpEkwf3keAvK30k5bM7wYoqrs9ZcSbWT9Z2YgsE0T0u
59CvQlNfPW5vFw1ZcdJsOdS7TJCZSOPQPBJGEE/XTmSFyh2fPRsozYcKDGMF0blj
hnAqkDqO570HA8HqlhiYVkzlKSsJx42HhhXFVzk9SpMhdqJ/zKGHQdSHC6jjbC8c
Bs4ocz5Edr6T2rp3Zj0Qz9blq6zRXTtmGWwFFHfW8RrUn1aWIHYWZu3BlJZSLvHo
YC3z7cQEhlpQjW4Y8BcIhXzHIx6nVCSG9A3pt0yGxgC1x7/I8Q==
=ERZp
-----END PGP PUBLIC KEY BLOCK-----
</pre>

        </address>
{% endblock %}
