input.accordion {
    display: none;
}

label.accordion {
    cursor: pointer;
}

input.image:checked ~ .qr-content {
    height: auto;
    padding: 1rem;
}

input.qrcode:checked ~ .qr-content {
    height: auto;
    padding: 1rem;
}

.qr-content {
    overflow: hidden;
    padding: 0;
    height: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.donate-qr {
    padding-bottom: 1em;
    font-size: 0.9rem;
}

.donate-qr .button {
   color: #ff6191;
}

.qr img {
    border-radius: 5px;
    max-width: 100%;
}

h1 {
  text-align: center;
}

.funded {
    background-color: #0060df;
    padding: 0.2rem;
}

.progress {
    background-color: #ed1a5b;
    padding: 0.2rem;
}

body {
  background-color: #181818;
  color: white;
  font-family: Monospace;
  font-size: 120%;
  margin: auto;
  width: 70%;
  word-wrap: break-word;
}

a {
  color: #ff6191;
}

ol.projects { 
  margin-top: 1em;  
  margin-bottom: 1em;  
}

.subtext {
  font-size: 0.9rem;
}

.subaddress {
  color: #f26222;
  font-size: 0.9rem;
  text-align: center;
  user-select: all;
}
 .point {
  cursor: pointer;
}
  
.fundgoal {
  font-size: 85%;
}
 
.footer {
  font-size: 50%;
  text-align: right;
}

progress{
  width: 100%
}

div.flag-wrapper{
  position:relative;
}

a.milestone-anchor{
  text-decoration: none;
}

img.qr{
  position:relative;
  left: 50%;
  border: 5px solid #555;
  transform:translate(-50%);
  border-radius:40px;
}

span.author::before{
  content: "\01F464";
   padding: 5px;
}
span.start::before{
  content: "\01F5D3";
   padding: 5px;
}
span.contributors::before{
  content: "\01F91D";
   padding: 5px;
}

img#xmr{
  position: relative;
  padding: 3px;
  height: 20px;
  width: 20px;
  top: 6px;
}

span.author, span.start, span.contributors{
  color:grey;
  font-size: medium;
}
span.start{
}
span.contributors{
}
span.raised{
  position:relative;
  float: right;
}

h3{
  color: #f26222;
}


.flex-container {
  width: 350px;
  background-color: white;
  padding: 50px;
  margin: 0 auto;
  border-radius: 0.2rem;
  box-sizing: inherit;
}

.flex-login {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-align:center;
    margin: 0rem;
    padding: 0rem;
    line-height: 0;

}

.status-header {
  width: 700px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1.0rem;
  line-height: 1;
  flex:1;
}

.flex-align-overide{
    width:35%;
    display:flex;
    justify-content:center;
    align-items: center;

}

.align-overide{
    width:35%;
    display:flex;
    justify-content:center;
    align-items: center;

}


.hide {   display: none;}


a:link {
    text-decoration: none;
}


.white {
    margin:  0.4rem;
    padding: 0 0.2rem;
    color: white;
}

.green {
    color:  #f26222;
}

.mb-3 { margin-bottom: 1rem !important; }

#  *,
#  *::before,
#  *::after { box-sizing: inherit; }


.grad {
   background: #181818;
   color: #f26222;
   border-radius:    0.2rem;
   width:           150px;
   height:           50px;
}

.code {
  border-radius: 0.2rem;
  border: 1px solid;
  font-family: monospace;
  padding: 0.5rem;
  word-break: break-word;
  font-size: 0.65rem;
  background: #181818;
  border-color: #e6e6e6;
  color: white;
  display: block;
  line-height:1.5;
  width: -moz-available;
  text-align: center;
}


.padd {
    padding: 10px;
    margin: 10px;
}

.active-tab {
    border-style:solid;
    border-width: 0 0 2px 0;
    border-color:#f26222;
}


.small {
    font-size: 14px;
}

.fit {
    width: 80%;
    margin: auto;
    text-align:center;
    line-height:1;
}

.fit-height {
    margin:auto;
    line-height:1;
}

.center {
    align-items:center;
}


.pad-1rem{
    padding: 1rem;
}

.zero-margin{
    margin: 0px;
}

.button {
  background-color:  #f26222; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color:  #f26222;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 12px;
}

.button1:hover {
  background-color: #000000;
  color: white;
}

