h1, h2, hr,  th, td, textarea, input, div.flash, li, span, label  {
   color: black;
}

p, h3{
    color:white;
/*    word-break:break-all;
    white-space:nowrap;
*/

    }

body, textarea { background-color: #181818; }

.code {
  border-radius: 0.2rem;
  border: 1px solid;
  font-family: monospace;
  padding: 0.5rem;
  word-break: break-word;
  font-size: 0.65rem; 
  background: #181818;
  border-color: #e6e6e6; 
  color: violet ; 
  line-height:1.5;
  flex:1;
}


.mb-3 { margin-bottom: 1rem !important; }

#  *,
#  *::before,
#  *::after { box-sizing: inherit; }

html {
    box-sizing: border-box;

    line-height: 1;
    -webkit-tap-highlight-color: transparent; }


.grad {
   background: black;
   color: #f26222;
   border-radius:    0.2rem;
   width:           150px;
   height:           50px;
} 


.flex-container {
  width: 350px;
  background-color: white;
  padding: 50px;
  margin: 0 auto;
  border-radius: 0.2rem;
  box-sizing: inherit;
}

.flex-login {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-align:center;
    margin: 0rem;
    padding: 0rem;
    line-height: 0;

}

.status-header {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 1.0rem;
  line-height: 1;
  flex:1;
}

.flex-align-overide{
    width:35%;
    display:flex;
    justify-content:center;
    align-items: center;
    
}

.align-overide{
    width:35%;
    display:flex;
    justify-content:center;
    align-items: center;
    
}

.hide {   display: none;}


a:link {
    text-decoration: none;
}

a:visited {
    color:white;
    text-decoration:none;
}


.white {
    margin:  0.4rem;
    padding: 0 0.2rem;
    color: white;
}

.green {
    color:  #f26222;
}

.padd {
    padding: 10px;
    margin: 10px;
}

.active-tab {
    border-style:solid;
    border-width: 0 0 2px 0;
    border-color:#f26222;
}


.small {
    font-size: 14px;
}

.fit {
    width: 80%;
    margin: auto;
    text-align:center;
    line-height:1;
}

.fit-height {
    margin:auto;  
    line-height:1;
}

.center {
    align-items:center;
}


.pad-1rem{
    padding: 1rem;
}

.zero-margin{
    margin: 0px;
}

.button {
  background-color:  #f26222; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color:  #f26222;
  color: black;
  border: 2px solid #4CAF50;
  border-radius: 12px;
}

.button1:hover {
  background-color: #000000;
  color: white;
}

