<div class="container">
	
	<div class="row">
		<div class="column">
			<a href = "http://{{host}}:5000/admin"> <h3>Admin</h3> </a>
		</div>
		
		<div class="column">
			<a href = "http://{{host}}:5000/knxconfig"> <h3>KNX  </h3> </a>
		</div>

		<div class="column">
			<a href = "http://{{host}}:5000/mqttconfig"> <h3>MQTT </h3> </a>
		</div>

		<div class="column">
			<a href = "http://{{host}}:5000/roomstatus"> <h3>Rooms</h3> </a>
		</div>
	
	</div>
	<hr>
</div>

