{% extends 'base.html' %}


{% block content %}
<h1><img src={{ url_for('static', filename='xmrstarter-logo.png') }} width=412px height=91px class="ico"></h1>

<form method="post" >

  <div class="status-header flex-align-overide" >
    <div class="flex-row padd">

      <div class="active-tab">    
        <h3 class="green padd"> Login </h3>
	 
      </div>

    </div>
 
    <div class="padd">
      <div>
        <input class="code mb-3 green" name="access_token" placeholder="Access Token" id="access_token" required>
      </div>

      <div>
        <input class="code mb-3 green" type="text" placeholder="CAPTCHA"name="captcha_answer" id="captcha_anwser" required>
      </div>

      <div class=" code " > {{ captcha_generate( captcha_answer ) }} </div>

      <div>
        <input class="code mb-3 green" type="hidden" value="{{ captcha_id }}" name="captcha_id" id="captcha_id" required>
      </div>

      <div>
        <input  class=" code grad mb-3" type="submit" value="Enter">
      <div>
    </div>

    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
     
        {% for message in messages %}
          <div class="padd">
            <p class="green small">{{ message }}</p>
          </div>
        {% endfor %}
       
     {% endif %}
   {% endwith %}


  </div>

</form>

{% endblock %}


