<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/pstyle.css') }}">
</head>

<body>

{% if login_ok %}
<div class="container">
	
	<div class="row">
		<h2>Administration Menu </h2>
	</div>

	<hr>

		<h3>Members</h3>
		<div class="viewMembers">
			<form method="post">
				<table>
					<thead>
						<tr>
							<th>	            </th>
							<th>user_id         </th>
							<th>order_id        </th>
							<!-- <th>withdraw_address</th>
							<th>balance         </th> -->
						</tr>
					</thead>
						{% for item in members %}
					<thead>
						<tr>
							<td><input type="radio" name="Members" value= {{item.user_id}}></td>
							<td>{{item.user_id}}         </td>
							<td>{{item.order_id}}        </td>
							<!-- <td>{{item.withdraw_address}}</td>
							<td>{{item.deposit_address}} </td>
							<td>{{item.balance}}         </td> -->
						</tr>
					</thead>
						{% endfor %}
				</table>
					<input type="submit" value="delete registration">
			</form>
		</div>

	    <h3>Orders</h3>
		<div class="viewOrders">
			<form method="post">
				<table>
					<thead>
						<tr>
							<th>	      </th>
							<th>order_id  </th>
							<th>payment_id</th>
							<th>XMR address</th>
							<th>XMR requested</th>
							<th>XMR received</th>
							<th>XMR tx id </th>
							<th>BTC address</th>
							<th>BTC amount</th>
							<th>BTC tx id </th>
							<th>error    </th>
							<th>status    </th>
						</tr>
					</thead>
						{% for item in orders %}
					<thead>
						<tr>
							<td><input type="radio" name="order_id" value= {{item.order_id}}></td>

							<td>{{item.order_id}}   </td>
							<td>{{item.payment_id}} </td>
							<td>{{item.xmr_deposit_address}} </td>
							<td>{{item.xmr_deposit_amount}} </td>
							<td>{{item.xmr_received_amount}} </td>
							<td>{{item.xmr_tx_id}} </td>
							<td>{{item.btc_payout_address}} </td>
							<td>{{item.btc_payout_amount}} </td>
							<td>{{item.btc_tx_id}} </td>
							<td>{{item.error}} </td>
							<td>{{item.status}}     </td>

						</tr>
					</thead>
						{% endfor %}
				</table>
				    <label for="admin-token">Username</label>
    				<input name="admin-token" id="delete-token" required>
					<input type="submit" value="delete registration">
			</form>
		</div>




		<h3>Unused address count</h3>
		<div class="viewUnusedAddressCount">
				<table>

					<thead>
						<tr>
							<td>{{unused_address}}</td>
						</tr>
					</thead>
				</table>
		</div>
		<div>
			<blockquote>
					<p><em>LARP</em></p>
			</blockquote>
		</div>
	</div>

</div>
{% else %}
<form method="post">
    <label for="admin-token">Username</label>
    <input name="admin-token" id="admin-token" required>
    <input type="submit" value="Log In">
  </form>
{% endif %}
</body>
</html>
