<!doctype html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	
	<h3>Configuration </h3>
	
	{% if config_record %} 
		<div class="viewConfiguration">
			<form method="post">
				<table>
					<thead>
						<tr>
							<th>	            </th>
							<th>id	            </th>
							<th>RPCUSER         </th>
							<th>RPCPASSWORD     </th>
							<th>FEEADDRESS      </th>
						</tr>
					</thead>
						
					<thead>
						<tr>
							<td><input type = "radio" name = "config" value = {{ config_record.id }}></td>
							<td>{{config_record.id}}          </td>
							<td>{{config_record.RPCUSER}}     </td>
							<td>{{config_record.RPCPASSWORD}} </td>
							<td>{{config_record.FEEADDRESS}}  </td>	
						</tr>
					</thead>

				</table>
					<input type="submit" value="delete registration">
			</form>
		</div>
	{% else %}
		<form method="post">
			<label for="RPCUSER">RPCUSER</label>
			<input name="RPCUSER" id="RPCUSER" required>

			<label for="RPCPASSWORD">RPCPASSWORD</label>
			<input name="RPCPASSWORD" id="RPCPASSWORD" required>

			<label for="FEEADDRESS">FEEADDRESS</label>
			<input name="FEEADDRESS" id="FEEADDRESS" required>
			
			<input type="submit" value="Set">
		</form>
	{% endif %}
</body>
</html>
